.detail-card {
  box-shadow: 5px 5px 5px #ccc;
  padding: 10px 10px;
  margin: auto;
  position: relative;
}

.detail-card .detail-history {
  position: absolute;
  top: 2%;
  right: 5%;
}

.card-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail-card input {
  width: 100%;
}

.detail-card select {
  width: 25%;
}

.photo-item {
  position: relative;
}

.photo-item .icon {
  position: absolute;
  right: 0;
  top: 0;
  background-color: bisque;
  cursor: pointer;
}
