.detail-card {
  box-shadow: 5px 5px 5px #ccc;
  padding: 10px 10px;
  margin: auto;
}

.card-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail-card input {
  width: 100%;
}

.detail-card select {
  width: 25%;
}
